.section-search input {
	border-radius: 30px !important;
	padding: 2px 15px !important;
	font-size: 18px !important;
	width: 90% !important;
	border: #f4f4f4 3px solid !important;
}

.notify-msg {
	margin-top: 0.75rem;
	font-weight: bold;
	font-size: 1.1rem;
}

/* label focus color */
input[type='text']:focus + label,
input[type='password']:focus + label,
input[type='email']:focus + label input[type='number']:focus + label {
	color: #90caf9 !important;
}
/* label underline focus color */
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus {
	border-bottom: 1px solid #90caf9 !important;
	box-shadow: 0 1px 0 0 #90caf9 !important;
}
/* icon prefix focus color */
.prefix.active {
	color: #90caf9 !important;
}

.table-select {
	font-size: 2rem !important;
}

.add-favourites {
	position: absolute !important;
	right: 5px !important;
	bottom: 5px !important;
}
